/* Logo */
.logo {
  display: inline-block;
  text-decoration: none;
}

.log-img {
  display: inline-block;
}

/* Site header and hero wrapper qr code */
.site-header-hero-wrapper--qr::after {
  position: absolute;
  z-index: 2;
  top: 93%;
  left: 50%;
  width: 150px;
  height: 150px;
  transform: translateX(-50%);
  background-image: url("../images//qr-code.svg");
  background-size: cover;
  background-repeat: no-repeat;
  content: "";
}

/* Site header and hero wrapper */
.site-header-hero-wrapper {
  position: relative;
  z-index: 1;
  padding-top: 170px;
  padding-bottom: 206px;
  background-image: url(../images/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Site header decoration */
.site-header-hero-wrapper::before {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/ellipse-white.svg),
    url(../images/star-orange.svg), url(../images/star-white.svg),
    url(../images/ellipse-purple.svg), url(../images/star-green.svg),
    url(../images/ellipse-white.svg);
  background-repeat: no-repeat;
  background-position: top 65px left calc(50% + 393px),
    top 75px left calc(50% + 450px), top 169px left calc(50% + 480px),
    top 369px left calc(50% + 72px), top 430px left calc(50% + 121px),
    top 441px left calc((50% + 181px));
  content: "";
}

/* Site header logo */
.site-header {
  text-align: right;
  margin-bottom: 60px;
}

.site-header__logo {
  position: relative;
  right: 207px;
  z-index: 2;
}

.logo__image1 {
  width: 135px;
  height: 164px;
}

.logo__image2 {
  position: absolute;
  right: -120px;
  width: 130px;
  height: 162px;
}

/* HERO */
.hero__about {
  max-width: 384px;
  color: var(--light-grey);
  margin-bottom: 36px;
  font-size: 34px;
  font-weight: 600;
  line-height: 42px;
}

.colored-text {
  color: var(--yellow-primary);
  text-transform: capitalize;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  color: white;
  font-size: 147.23px;
  font-weight: 800;
  line-height: 172.7px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}

.hero__subtitle {
  margin-top: 0;
  margin-bottom: 24px;
  color: white;
  font-size: 56px;
  font-weight: 700;
  line-height: 65.69px;
  text-transform: capitalize;
}

.hero__description {
  max-width: 793px;
  color: var(--dark-grey);
  font-size: 26px;
  font-weight: 500;
  line-height: 42px;
}
.hero__text {
  color: white;
  text-transform: capitalize;
}

.certification {
  padding-top: 250px;
  padding-bottom: 85px;
  background-image: url(../images/certification-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.certification__info {
  display: flex;
  justify-content: space-between;
}

.certification__sign {
  display: flex;
  flex-direction: column;
}

.certification__person {
  font-size: 24px;
  font-weight: 400;
  line-height: 35px;
}
.certification__name {
  margin-bottom: 0;
  font-weight: 500;
  text-transform: capitalize;
}
.certification__position {
  margin-top: 0;
  margin-bottom: 0;
  text-transform: capitalize;
}

.certification__sign-img {
  order: -1;
  padding-bottom: 14px;
  margin-bottom: 11px;
  border-bottom: 0.38px solid #000000;
}
.sign {
  display: block;
  width: 287px;
  height: 100px;
}

.certification__img-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: -40px;
}

.certification__img {
  display: block;
  margin-bottom: 60px;
  width: 323px;
  height: 159px;
}

.certification__date {
  color: var(--darker-grey);
  font-size: 24px;
  font-weight: 500;
  line-height: 35px;
  text-align: right;
}
