/* Fonts */
@font-face {
  font-family: "Work Sans";
  src: url("WorkSans-Regular.woff2") format("woff2"),
    url("WorkSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-Medium.woff2") format("woff2"),
    url("../fonts/WorkSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-SemiBold.woff2") format("woff2"),
    url("../fonts/WorkSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-Bold.woff2") format("woff2"),
    url("../fonts/WorkSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-ExtraBold.woff2") format("woff2"),
    url("../fonts/WorkSans-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* Custom props */
:root {
  /* Colors */
  --yellow-primary: #ffd600;
  --dark-grey: #a8a8a8;
  --light-grey: #d9d9d9;
  --darker-grey: #5c5c5c;

  /* Fonts */
  --body-font-family: "Work Sans", "Arial", "sans-serif";
}

/* Global */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: var(--body-font-family);
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Container */
.container {
  width: 100%;
  max-width: 1060px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}

/* Logo */
.logo {
  display: inline-block;
  text-decoration: none;
}

.log-img {
  display: inline-block;
}

/* Site header and hero wrapper qr code */
.site-header-hero-wrapper--qr::after {
  position: absolute;
  z-index: 2;
  top: 93%;
  left: 50%;
  width: 150px;
  height: 150px;
  transform: translateX(-50%);
  background-image: url("../images//qr-code.svg");
  background-size: cover;
  background-repeat: no-repeat;
  content: "";
}

/* Site header and hero wrapper */
.site-header-hero-wrapper {
  position: relative;
  z-index: 1;
  padding-top: 170px;
  padding-bottom: 206px;
  background-image: url(../images/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Site header decoration */
.site-header-hero-wrapper::before {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/ellipse-white.svg),
    url(../images/star-orange.svg), url(../images/star-white.svg),
    url(../images/ellipse-purple.svg), url(../images/star-green.svg),
    url(../images/ellipse-white.svg);
  background-repeat: no-repeat;
  background-position: top 65px left calc(50% + 393px),
    top 75px left calc(50% + 450px), top 169px left calc(50% + 480px),
    top 369px left calc(50% + 72px), top 430px left calc(50% + 121px),
    top 441px left calc((50% + 181px));
  content: "";
}

/* Site header logo */
.site-header {
  text-align: right;
  margin-bottom: 60px;
}

.site-header__logo {
  position: relative;
  right: 207px;
  z-index: 2;
}

.logo__image1 {
  width: 135px;
  height: 164px;
}

.logo__image2 {
  position: absolute;
  right: -120px;
  width: 130px;
  height: 162px;
}

/* HERO */
.hero__about {
  max-width: 384px;
  color: var(--light-grey);
  margin-bottom: 36px;
  font-size: 34px;
  font-weight: 600;
  line-height: 42px;
}

.colored-text {
  color: var(--yellow-primary);
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  color: white;
  font-size: 147.23px;
  font-weight: 800;
  line-height: 172.7px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}

.hero__subtitle {
  margin-top: 0;
  margin-bottom: 24px;
  color: white;
  font-size: 56px;
  font-weight: 700;
  line-height: 65.69px;
}

.hero__description {
  max-width: 793px;
  color: var(--dark-grey);
  font-size: 26px;
  font-weight: 500;
  line-height: 42px;
}
.hero__text {
  color: white;
}

.certification {
  padding-top: 250px;
  padding-bottom: 85px;
  background-image: url(../images/certification-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.certification__info {
  display: flex;
  justify-content: space-between;
}

.certification__sign {
  display: flex;
  flex-direction: column;
}

.certification__person {
  font-size: 24px;
  font-weight: 400;
  line-height: 35px;
}
.certification__name {
  margin-bottom: 0;
  font-weight: 500;
}
.certification__position {
  margin-top: 0;
  margin-bottom: 0;
}

.certification__sign-img {
  order: -1;
  padding-bottom: 14px;
  margin-bottom: 25px;
  border-bottom: 0.38px solid #000000;
}
.sign {
  display: block;
  width: 287px;
  height: 100px;
}

.certification__img-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: -30px;
}

.certification__img {
  display: block;
  margin-bottom: 60px;
  width: 323px;
  height: 159px;
}

.certification__date {
  color: var(--darker-grey);
  font-size: 24px;
  font-weight: 500;
  line-height: 35px;
  text-align: right;
}
